.btn {
  display: block;
  font-weight: 600;
  min-width: 130px;
  font-size: 14px;
  line-height: 118%;
  padding: 17px 25px;

  &--fill {
    background-color: var(--accent-color);
    color: var(--light-color);
  }

  &:focus {
    outline: 2px solid var(--accent-color);
    outline-offset: 4px;
  }
}
