.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 17px 0;
  font-weight: 600;
  max-width: 130px;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;

  &--fill {
    background-color: var(--accent-color);
    color: var(--light-color);
  }

  &--light {
    padding: 16px 0;
    font-weight: 400;
    background-color: var(--light-color);
    color: var(--black-color);
    border: 1px solid var(--dovegray-color);
    text-transform: initial;
  }

  &:focus {
    outline: 2px solid var(--accent-color);
    outline-offset: 4px;
  }
}
