.cookie-block {
  display: none;
  padding: 20px 40px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  background-color: var(--accent-color);
  color: var(--light-color);
  z-index: 1000;

  &__wrapper {
    @include flex-all-sb;

    flex-wrap: wrap;
  }

  &__descr {
    margin: 0;
    margin-bottom: 20px;
  }

  &__link {
    color: currentColor;
    text-decoration: underline;

    &:focus {
      outline: 2px solid var(--accent-color);
      outline-offset: 4px;
    }
  }
}
