.hero {
  padding-top: 110px;
  background-color: var(--light-color);
  min-height: 650px;

  &__container {
    position: relative;
  }

  &__prev {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: var(--color-light);
    z-index: 10;
  }

  &__next {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: var(--color-light);
    z-index: 10;
  }

  &__slider {
    margin: 0 -78px;
    padding: 0 78px;
    padding-bottom: 40px;
  }

  .swiper-slide {
    @include flex-all-sb;
  }

  &__content {
    max-width: 470px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
  }

  &__trends {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--accent-color);
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    color: var(--black-color);
    text-transform: uppercase;

    &--text {
      display: block;
      font-weight: 700;
    }
  }

  &__image {
    transform: translate(60px, 10px);
  }

  &__promo {
    top: -14px;
    left: 340px;
  }

  .swiper-pagination {
    width: 50%;
    bottom: 58px;
    left: 30px;
  }

  .swiper-pagination-bullet {
    @include mr(15px);

    border: 1px solid var(--black-color);
    width: 10px;
    height: 10px;
    background-color: var(--light-color);
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    position: relative;
    top: 2px;
    width: 14px;
    height: 14px;

    &::before {
      @include flex-all-center;

      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      background-color: var(--black-color);
      border-radius: 100%;
    }
  }
}
