.product {
  padding-top: 90px;
  padding-bottom: 131px;
  background-color: var(--light-color);

  &__container {
    position: relative;
  }

  &__descr {
    max-width: 542px;
    margin-bottom: 60px;
  }

  &__prev {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 100;
  }

  &__next {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 100;
  }

  .swiper {
    padding: 100px 20px;
    margin: -100px -20px;
    padding-top: 30px;
    margin-top: -30px;
  }

  .swiper-slide {
    height: auto !important;
  }
}
