.sale {
  position: relative;
  background-image: url(../img/sale-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 0;
  }

  &__slider {
    position: relative;
  }

  &__prev {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 100;
  }

  &__next {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 100;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 230px;
  }

  &__item {
    min-height: 550px;
    background-color: var(--light-color);
  }

  &__image {
    margin-bottom: 28px;
  }

  &__content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 11px;
    font-weight: 500;
    font-size: 24px;
    line-height: 134.5%;
    color: var(--black-color);
  }

  &__price {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: var(--black-color);
  }
}
