.sale-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 470px;
  background-color: var(--light-color);
  padding: 21px 20px 65px;

  @include minidesk {
    max-width: 100%;
  }

  &__wrapper {
    &:focus {
      outline: 2px solid var(--accent-color);
    }
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subtitle {
    max-width: 313px;
    margin: 0;
    margin-bottom: 11px;
    font-weight: 500;
    font-size: 24px;
    line-height: 134.5%;
    text-align: center;
    color: var(--black-color);
  }

  &__link {
    color: currentColor;
    transition: color 0.3s ease;

    &:focus {
      outline: 2px solid var(--accent-color);
      outline-offset: 4px;
    }

    @include hover {
      color: var(--alizarin-crimson-color);
    }

    &:active {
      color: var(--dove-gray-color);
    }
  }

  &__price {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: var(--black-color);
  }
}
