.shop {
  padding-top: 80px;
  background-color: var(--wildsand-color);

  &__list {
    grid-template-rows: repeat(2, 350px);

    @include minidesk {
      grid-template-rows: repeat(4, 350px);
    }

    @include small-tablet {
      grid-template-rows: initial;
    }
  }

  &__item {
    height: 100%;
    grid-column: 4 span;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: 174px 170px;
    background-position: center top 18px;
    background-color: var(--light-color);
    transition: box-shadow 0.3s ease;

    @include hover {
      box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.2);

      .btn {
        background-color: var(--accent-color);
        color: var(--light-color);
      }
    }

    @include minidesk {
      grid-column: 12 span;
    }

    @include small-tablet {
      display: block;
      grid-column: 12 span;
      background-image: none !important;
    }

    &--promo {
      grid-column: 8 span;
      flex-direction: row;
      align-items: center;
      background-size: 410px 342px;
      background-position: left 15px top 10px;

      @include minidesk {
        grid-column: 12 span;
      }

      @include small-tablet {
        grid-column: 12 span;
      }
    }

    &--watch {
      grid-row: 1 / 2 span;
      grid-column: 9 / 4 span;
      background-size: 370px 534px;
      background-position: center top;

      @include minidesk {
        grid-column: 12 span;
        grid-row: 4 / 6 span;
        flex-direction: row;
        align-items: center;
        background-position: left top 10px;
      }

      @include small-tablet {
        grid-column: 12 span;
      }
    }
  }

  &__content {
    padding: 18px 23px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  &__sale {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--black-color);
  }

  &__subtitle {
    max-width: 400px;
    margin: 0;
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: var(--black-color);
  }

  &__link {
    padding: 14px 0;
    max-width: 110px;
  }

  &__promo {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: var(--black-color);
  }
}
