.shop {
  padding-top: 80px;
  background-color: var(--wildsand-color);

  &__list {
    grid-template-rows: repeat(2, 350px);

    @include minidesk {
      grid-template-rows: initial;
    }
  }

  &__item {
    padding: 19px 10px 30px;
    height: 100%;
    overflow: hidden;
    grid-column: 4 span;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-color);
    transition: box-shadow 0.3s ease;

    &--promo {
      padding: 22px 0 0;
      grid-column: 8 span;
      flex-direction: row;
      align-items: center;

      @include minidesk {
        padding: 19px 10px 30px;
      }
    }

    &--watch {
      padding: 0 0 30px;
      grid-row: 1 / 2 span;
      grid-column: 9 / 4 span;

      @include minidesk {
        padding: 0;
      }
    }

    @include hover {
      box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.2);

      .btn {
        background-color: var(--accent-color);
        color: var(--light-color);
      }
    }

    @include minidesk {
      grid-column: 6 span;
      grid-row: auto;
      flex-direction: row;
      align-items: center;
    }

    @include small-tablet {
      grid-column: 12 span;
    }

    @include mobile {
      padding: 19px 10px 30px;
    }
  }

  &__image {
    margin-bottom: 10px;

    @include minidesk {
      margin-bottom: 0;
    }

    @include mobile {
      display: none;
    }
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  &__sale {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--black-color);
  }

  &__subtitle {
    max-width: 400px;
    margin: 0;
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: var(--black-color);
  }

  &__link {
    margin-top: auto;
    padding: 14px 0;
    max-width: 110px;
  }

  &__promo {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: var(--black-color);

    @include mobile {
      margin-bottom: 7px;
    }
  }
}
