.shop {
  padding-top: 80px;
  background-color: #f5f5f5;

  &__list {
    grid-template-rows: repeat(2, 350px);
  }

  &__item {
    padding: 18px 23px 30px;
    grid-column: 4 span;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: 174px 170px;
    background-position: center top 18px;
    background-color: var(--light-color);
    transition: box-shadow 0.3s ease;

    @include hover {
      box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.2);

      .btn {
        background-color: var(--accent-color);
        color: var(--light-color);
      }
    }

    &--promo {
      padding-right: 40px;
      grid-column: 8 span;
      flex-direction: row;
      align-items: center;
      background-image: url(../img/shop-item-1.jpg);
      background-size: auto;
      background-position: left 15px top 10px;

      .btn {
        max-width: 130px;
        padding: 16px 0;
      }

      .shop__sale--promo {
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
      }
    }

    &--bags {
      background-image: url(../img/shop-item-2.jpg);
    }

    &--mackup {
      background-image: url(../img/shop-item-3.jpg);
    }

    &--watch {
      grid-row: 1 / 2 span;
      grid-column: -5 / 4 span;
      background-image: url(../img/shop-item-4.jpg);
      background-size: auto;
      background-position: center top 0px;
    }
  }

  &__content {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__sale {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--black-color);
  }

  &__subtitle {
    max-width: 400px;
    margin: 0;
    margin-bottom: auto;
    font-weight: 600;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: var(--black-color);
  }

  &__link {
    padding: 14px 0;
    max-width: 110px;
  }

  &__promo {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: var(--black-color);
  }
}
