.ticker {
  position: relative;
  overflow: hidden;

  &__wrapper {
    display: flex;
    padding-bottom: 100px;

    @include tablet {
      padding-bottom: 50px;
    }

    @include mobile {
      padding-bottom: 25px;
    }
  }

  &__item {
    font-size: 70px;
    font-weight: 600;
    white-space: nowrap;
    flex-shrink: 0;
    color: var(--light-color);
    padding: 0 50px;
    text-transform: uppercase;
    animation: ticker-animation 3s linear infinite;

    @include tablet {
      font-size: 40px;
    }
  }

  @keyframes ticker-animation {
    from {
      transform: translateZ(0);
    }

    to {
      transform: translate3d(-100%, 0, 0);
    }
  }
}
