<section class="benefits section-offset">
  <h2 class="visually-hidden">Our Benefits</h2>
  <div class="container">
    <ul class="benefits__list list-reset grid">
      <li class="benefits__item">
        <div class="benefits__icon">
          <svg>
            <use xlink:href="img/sprite.svg#shipping"></use>
          </svg>
        </div>
        <h3 class="benefits__title">Free Shipping</h3>
        <p class="benefits__descr">Orders over $200</p>
      </li>
      <li class="benefits__item">
        <div class="benefits__icon">
          <svg>
            <use xlink:href="img/sprite.svg#payment"></use>
          </svg>
        </div>
        <h3 class="benefits__title">Secure Payment</h3>
        <p class="benefits__descr">100% secure payment</p>
      </li>
      <li class="benefits__item">
        <div class="benefits__icon">
          <svg>
            <use xlink:href="img/sprite.svg#gift"></use>
          </svg>
        </div>
        <h3 class="benefits__title">Gift Certificae</h3>
        <p class="benefits__descr">Buy now $500 to $1000</p>
      </li>
      <li class="benefits__item">
        <div class="benefits__icon">
          <svg>
            <use xlink:href=" img/sprite.svg#support"></use>
          </svg>
        </div>
        <h3 class="benefits__title">24/7 Support</h3>
        <p class="benefits__descr">Ready support</p>
      </li>
    </ul>
  </div>
</section>
