<section class="blog section-offset" id="blog">
  <div class="container">
    <h2 class="blog__title title" data-aos="fade-right" data-aos-duration="1000">Latest News</h2>
    <p class="blog__descr descr" data-aos="fade-left" data-aos-duration="1000">There are many variations of passages of
      Lorem Ipsum available, but the majority have
      suffered alteration in some form, by injected humour</p>
    <ul class="blog__list list-reset grid">
      <li class="blog__item">
        <article class="blog-post blog-post--sale">
          <picture>
            <source media="(min-width: 576px)" srcset="img/blog-1_2x.webp 2x" type="image/webp">
            <source media="(max-width: 575px)" srcset="img/blog-1.webp" type="image/webp">
            <source srcset="img/blog-1.webp" type="image/webp">
            <img loading="lazy" src="img/blog-1.jpg" srcset="img/blog-1_2x.jpg 2x" class="blog-post__image" width="570"
              height="400" alt="red price tag with 50% off promotion">
          </picture>
          <div class="blog-post__content">
            <div class="blog-post__meta">
              <span class="blog-post__tag">DESIGN</span>
              <time class="blog-post__time" datetime="2023-07-11 20:00">JULY 11,2023</time>
            </div>
            <h3 class="blog-post__subtitle">
              <a class="blog-post__name-post" href="#0">2023’S Biggest Sneaker Is Getting Us So Pumped For Summer<a>
            </h3>
            <p class="blog-post__descr">There are many variations of passages of Lorem Ipsum available, but the
              majority
              have suffered alteration in some form, by injected humour, or randomised words which don't look even
              slightly believable.</p>
            <a class="blog-post__link btn btn-reset btn--light" href="#0">Read More</a>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-post blog-post--fashion">
          <picture>
            <source media="(min-width: 576px)" srcset="img/blog-2_2x.webp 2x" type="image/webp">
            <source media="(max-width: 575px)" srcset="img/blog-2.webp" type="image/webp">
            <source srcset="img/blog-2.webp" type="image/webp">
            <img loading="lazy" src="img/blog-2.jpg" srcset="img/blog-2_2x.jpg 2x" class="blog-post__image" width="570"
              height="400" alt="A girl chooses her clothes">
          </picture>
          <div class="blog-post__content">
            <div class="blog-post__meta">
              <span class="blog-post__tag">DESIGN</span>
              <time class="blog-post__time" datetime="2023-07-11 20:00">JULY 11,2023</time>
            </div>
            <h3 class="blog-post__subtitle">
              <a class="blog-post__name-post" href="#0">2023’S Biggest Sneaker Is Getting Us So Pumped For Summer<a>
            </h3>
            <p class="blog-post__descr">There are many variations of passages of Lorem Ipsum available, but the
              majority
              have suffered alteration in some form, by injected humour, or randomised words which don't look even
              slightly believable.</p>
            <a class="blog-post__link btn btn-reset btn--light" href="#0">Read More</a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
