<footer class="footer section-offset">
  <div class="footer__top">
    <div class="container grid">
      <div class="footer__content">
        <a class="footer__logo logo" href="#">
          <img class="image" src="img/logo.svg" alt="Logo Ebraw" width="130" height="28" loading="lazy">
        </a>
        <p class="footer__descr footer-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod
          tempor incididunt
          ut labore.</p>
        <ul class="footer__social social-media list-reset">
          <li class="social-media__item">
            <a class="social-media__link" href="#0" target="_blank" aria-label="facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-media__item">
            <a class="social-media__link" href="#0" target="_blank" aria-label="twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-media__item">
            <a class="social-media__link" href="#0" target="_blank" aria-label="instagram">
              <svg>
                <use xlink:href="img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-media__item">
            <a class="social-media__link" href="#0" target="_blank" aria-label="linkedin">
              <svg>
                <use xlink:href="img/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
        <a class="footer__content-link" href="#0" target="_blank">Check our shop in Google Map</a>
      </div>
      <nav class="footer__nav footer-nav" aria-label="Secondaly">
        <div class="footer-nav__col">
          <h2 class="footer-nav__title footer-title">Support Links</h2>
          <ul class="footer-nav__list list-reset">
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Product Guides</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Terms & Conditions</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Delivery Policy</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Privacy Policy</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Feedback</a>
            </li>
          </ul>
        </div>
        <div class="footer-nav__col">
          <h2 class="footer-nav__title footer-title">Quick Links</h2>
          <ul class="footer-nav__list list-reset">
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Product Guides</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Terms & Conditions</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Delivery Policy</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Privacy Policy</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Feedback</a>
            </li>
          </ul>
        </div>
        <div class="footer-nav__col">
          <h2 class="footer-nav__title footer-title">Menu</h2>
          <ul class="footer-nav__list list-reset">
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Product Guides</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Terms & Conditions</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Delivery Policy</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Privacy Policy</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="#0">Feedback</a>
            </li>
          </ul>
        </div>
      </nav>
      <form class="footer__form">
        <h2 class="footer__form-title footer-title">Newsletter Signup</h2>
        <p class="footer__form-descr footer-descr">There are many variations passages of Lorem Ipsum available</p>
        <div class="footer__form-wrapper">
          <label class="footer__form-field form-field">
            <input class="form-field__input input-email" type="email" placeholder="your email address">
          </label>
          <button class="footer__form-btn btn-reset" type="submit" aria-label="Send request"></button>
        </div>
      </form>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-copy copy">
        <p class="copy__descr">Copyright @2023 ebRaw. All Rights Reserved By <span class="copy__text">Graphic
            Raz</span>
        </p>
        <ul class="copy__accept list-reset">
          <li class="copy__item">
            <img loading="lazy" src="img/paypal.svg" class="image" width="36" height="10" alt="Paypal">
          </li>
          <li class="copy__item">
            <img loading="lazy" src="img/skill.svg" class="image" width="30" height="10" alt="Skill">
          </li>
          <li class="copy__item">
            <img loading="lazy" src="img/visa.svg" class="image" width="33" height="10" alt="Visa">
          </li>
          <li class="copy__item">
            <img loading="lazy" src="img/master-card.svg" class="image" width="24" height="15" alt="Master card">
          </li>
          <li class="copy__item">
            <img loading="lazy" src="img/american-express.svg" class="image" width="24" height="15"
              alt="American express">
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="cookie-block">
  <div class="cookie-block__wrapper">
    <p class="cookie-block__descr">Ebraw and our third party partners use cookies and related technologies on this
      website. For more information please visit our <a class="cookie-block__link" href="#0">Privacy Policy </a> or
      click <a class="cookie-block__link" href="#0">Manage
        Cookies</a> to opt out or manage cookie preferences</p>
    <button class="cookie-block__btn btn btn--light btn-reset" aria-label="I agree to the terms">OK</button>
  </div>
</div>
