<header class="header">
  <div class="header__container container">
    <a class="header__logo logo">
      <img class="image" src="img/logo.svg" alt="Logo Ebraw" width="130" height="28" loading="lazy">
    </a>
    <nav class="nav" aria-label="Main" data-menu>
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#shop" class="nav__link" data-scroll data-menu-item>Shop</a>
        </li>
        <li class="nav__item">
          <a href="#product" class="nav__link" data-scroll data-menu-item>Product</a>
        </li>
        <li class="nav__item">
          <a href="#sale" class="nav__link" data-scroll data-menu-item>Sale</a>
        </li>
        <li class="nav__item">
          <a href="#blog" class="nav__link" data-scroll data-menu-item>Blog</a>
        </li>
      </ul>
    </nav>
    <div class="user-nav" data-menu>
      <ul class="user-nav__list list-reset">
        <li class="user-nav__item">
          <a class="user-nav__link user-nav__link--search" href="#" aria-label="Search">
            Search
          </a>
        </li>
        <li class="user-nav__item">
          <a class="user-nav__link user-nav__link--bag" href="#" aria-label="Shopping bag">
            Shopping bag
            <span class="user-nav__value user-nav__value--shop"></span>
          </a>
        </li>
        <li class="user-nav__item">
          <a class="user-nav__link user-nav__link--favorites" href="#" aria-label="Favorites">
            Favorites
            <span class="user-nav__value user-nav__value--favorites"></span>
          </a>
        </li>
      </ul>
      <button class="user-nav__btn btn btn--fill btn-reset" aria-label="Open profile">
        Genesis Harber
      </button>
    </div>
    <button class="burger" aria-label="Open menu" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
