<header class="header">
  <div class="header__container container">
    <a class="header__logo logo" title="ebRaw - Fashionable Clothing Store for Women">
      <img class="image" src="img/logo.svg" alt="Logo Ebraw" width="130" height="28" loading="lazy">
    </a>
    <nav class="nav" title="Main Navigation">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#shop" class="nav__link" data-scroll data-menu-item>Shop</a>
        </li>
        <li class="nav__item">
          <a href="#product" class="nav__link" data-scroll data-menu-item>Product</a>
        </li>
        <li class="nav__item">
          <a href="#sale" class="nav__link" data-scroll data-menu-item>Sale</a>
        </li>
        <li class="nav__item">
          <a href="#blog" class="nav__link" data-scroll data-menu-item>Blog</a>
        </li>
      </ul>
    </nav>
    <div class="user-nav">
      <ul class="user-nav__list list-reset">
        <li class="user-nav__item">
          <a class="user-nav__link user-nav__link--search" href="#" title="Search" aria-label="Search">
            Search
          </a>
        </li>
        <li class="user-nav__item">
          <a class="user-nav__link user-nav__link--bag" href="#" title="Shopping bag" aria-label="Shopping bag">
            Shopping bag
            <span class="user-nav__value">2</span>
          </a>
        </li>
        <li class="user-nav__item">
          <a class="user-nav__link user-nav__link--favorites" href="#" title="Favorites" aria-label="Favorites">
            Favorites
          </a>
        </li>
      </ul>
      <button class="user-nav__btn btn btn--fill btn-reset" aria-label="Open profile">
        Genesis Harber
      </button>
    </div>
  </div>
  <div class="cookie-block">
    <div class="cookie-block__wrapper">
      <p class="cookie-block__descr">Ebraw and our third party partners use cookies and related technologies on this
        website. For more information please visit our <a class="cookie-block__link" href="#0">Privacy Policy </a> or
        click <a class="cookie-block__link" href="#0">Manage
          Cookies</a> to opt out or manage cookie preferences</p>
      <button class="cookie-block__btn btn btn--light btn-reset">OK</button>
    </div>
  </div>
</header>
