<header class="header">
  <div class="header__container container">
    <a class="header__logo logo" title="EbRaw">
      <img class="image" src="img/logo.svg" alt="Logo Ebraw" width="130" height="28" loading="lazy">
    </a>
    <nav class="nav" title="Main Navigation">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
          <a href="#shop" class="nav__link" data-scroll data-menu-item>Shop</a>
        </li>
        <li class="nav__item">
          <a href="#product" class="nav__link" data-scroll data-menu-item>Product</a>
        </li>
        <li class="nav__item">
          <a href="#sale" class="nav__link" data-scroll data-menu-item>Sale</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-scroll data-menu-item>Blog</a>
        </li>
      </ul>
    </nav>
    <div class="user-nav">
      <ul class="user-nav__list list-reset">
        <li class="user-nav__item">
          <a class="user-nav__link user-nav__link--search" href="#" title="Search">
            Search
          </a>
        </li>
        <li class="user-nav__item">
          <a class="user-nav__link user-nav__link--bag" href="#" title="Shopping bag">
            Shopping bag
            <span class="user-nav__value">2</span>
          </a>
        </li>
        <li class="user-nav__item">
          <a class="user-nav__link user-nav__link--favorites" href="#" title="Favorites">
            Favorites
          </a>
        </li>
      </ul>
      <button class="user-nav__btn btn btn--fill btn-reset" aria-label="Open profile">
        Genesis Harber
      </button>
    </div>
  </div>
</header>
