<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>ebRaw - Fashionable Clothing Store for Women</title>
  <meta name="description"
    content="Shop for trendy women's clothing at our exceptional online store. We offer a wide range of stylish products, from the latest trends to timeless classics. Order from us today and refresh your wardrobe!">
  <meta name="keywords" content="women's clothing, fashion, trendy clothes, online store, stylish, shop, wardrobe">
  <meta name="robots" content="index, follow">
  <meta name="author" content="ebRaw">
  <link rel="preload" href="fonts/JostRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/JostMedium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/JostSemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/JostBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
