<section class="hero">
  <div class="container">
    <h1 class="visually-hidden">Ebraw shopping of your dreams</h1>
    <div class="swiper hero__slider">
      <button class="hero__prev slider-nav__btn btn-reset" aria-label="Previous slide">
        <svg>
          <use xlink:href="img/sprite.svg#left-arrow"></use>
        </svg>
      </button>
      <button class="hero__next slider-nav__btn btn-reset" aria-label="Next slide">
        <svg>
          <use xlink:href="img/sprite.svg#right-arrow"></use>
        </svg>
      </button>
      <div class="hero__pag swiper-pagination"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero__content">
            <div class="hero__trends">Trends Stock!</div>
            <h1 class="hero__title">SHORT TOP <span class="hero__title--text">KEEP YOU PRETTY</span></h1>
            <a class="btn btn--fill btn-reset" href="#shop" data-scroll>SHOP NOW</a>
            <div class="hero__promo promo">
              <picture>
                <source srcset="img/promo-image-1.webp" type="image/webp">
                <img loading="lazy" src="img/promo-image-1.png" class="promo__image" width="92" height="142"
                  alt="Beautiful girl in a red dress">
              </picture>
              <div class="promo__content">
                <h2 class="promo__subtitle">Solid Color
                  Sleeveless</h2>
                <div class="promo__price">
                  <span class="promo__price-new">$100</span>
                  <span class="promo__price-old">$130</span>
                </div>
                <button class="promo__btn btn btn--fill btn-reset">ADD TO CART</button>
              </div>
            </div>
          </div>
          <picture>
            <source srcset="img/hero-image.webp" type="image/webp">
            <img loading="lazy" src="img/hero-image.png" class="hero__image" width="640" height="650"
              alt="Happy girl after shopping">
          </picture>
        </div>
        <div class="swiper-slide">
          <div class="hero__content">
            <div class="hero__trends">Trends Stock!</div>
            <h1 class="hero__title">SHORT TOP <span class="hero__title--text">KEEP YOU PRETTY</span></h1>
            <a class="btn btn--fill btn-reset" href="#shop" data-scroll>SHOP NOW</a>
            <div class="hero__promo promo">
              <picture>
                <source srcset="img/promo-image-1.webp" type="image/webp">
                <img loading="lazy" src="img/promo-image-1.png" class="promo__image" width="92" height="142"
                  alt="Beautiful girl in a red dress">
              </picture>
              <div class="promo__content">
                <h2 class="promo__subtitle">Solid Color
                  Sleeveless</h2>
                <div class="promo__price">
                  <span class="promo__price-new">$100</span>
                  <span class="promo__price-old">$130</span>
                </div>
                <button class="promo__btn btn btn--fill btn-reset">ADD TO CART</button>
              </div>
            </div>
          </div>
          <picture>
            <source srcset="img/hero-image.webp" type="image/webp">
            <img loading="lazy" src="img/hero-image.png" class="hero__image" width="640" height="650"
              alt="Happy girl after shopping">
          </picture>
        </div>
        <div class="swiper-slide">
          <div class="hero__content">
            <div class="hero__trends">Trends Stock!</div>
            <h1 class="hero__title">SHORT TOP <span class="hero__title--text">KEEP YOU PRETTY</span></h1>
            <a class="btn btn--fill btn-reset" href="#shop" data-scroll>SHOP NOW</a>
            <div class="hero__promo promo">
              <picture>
                <source srcset="img/promo-image-1.webp" type="image/webp">
                <img loading="lazy" src="img/promo-image-1.png" class="promo__image" width="92" height="142"
                  alt="Beautiful girl in a red dress">
              </picture>
              <div class="promo__content">
                <h2 class="promo__subtitle">Solid Color
                  Sleeveless</h2>
                <div class="promo__price">
                  <span class="promo__price-new">$100</span>
                  <span class="promo__price-old">$130</span>
                </div>
                <button class="promo__btn btn btn--fill btn-reset">ADD TO CART</button>
              </div>
            </div>
          </div>
          <picture>
            <source srcset="img/hero-image.webp" type="image/webp">
            <img loading="lazy" src="img/hero-image.png" class="hero__image" width="640" height="650"
              alt="Happy girl after shopping">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
