<section class="hero">
  <div class="container">
    <h1 class="visually-hidden">Ebraw shopping of your dreams</h1>
    <div class="hero__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero__content">
            <div class="hero__trends">Trends Stock!</div>
            <h1 class="hero__title">SHORT TOP <br> <span class="hero__title--text">KEEP YOU PRETTY</span></h1>
            <button class="btn btn--fill btn-reset">SHOP NOW</button>
          </div>
          <picture>
            <source srcset="img/hero-image.webp" type="image/webp">
            <img loading="lazy" src="img/hero-image.png" class="hero__image" width="640" height="650"
              alt="Happy girl after shopping">
          </picture>
        </div>
        <div class="swiper-slide">
          <div class="hero__content">
            <div class="hero__trends">Trends Stock!</div>
            <h1 class="hero__title">SHORT TOP <br> <span class="hero__title--text">KEEP YOU PRETTY</span></h1>
            <button class="btn btn--fill btn-reset">SHOP NOW</button>
          </div>
          <picture>
            <source srcset="img/hero-image.webp" type="image/webp">
            <img loading="lazy" src="img/hero-image.png" class="hero__image" width="640" height="650"
              alt="Happy girl after shopping">
          </picture>
        </div>
      </div>
    </div>
    <button class="hero__prev slider-nav__btn btn-reset" aria-label="Previous slide">
      <svg>
        <use xlink:href="img/sprite.svg#left-arrow"></use>
      </svg>
    </button>
    <button class="hero__next slider-nav__btn btn-reset" aria-label="Next slide">
      <svg>
        <use xlink:href="img/sprite.svg#right-arrow"></use>
      </svg>
    </button>
    <div class="hero__pag swiper-pagination"></div>
  </div>
</section>
