<section class="hero">
  <div class="hero__container container-fluid">
    <h1 class="visually-hidden">Ebraw shopping of your dreams</h1>
    <button class="hero__prev slider-nav slider-nav--btn btn-reset" aria-label="Previous slide">
      <svg>
        <use xlink:href="img/sprite.svg#left-arrow"></use>
      </svg>
    </button>
    <button class="hero__next slider-nav slider-nav--btn btn-reset" aria-label="Next slide">
      <svg>
        <use xlink:href="img/sprite.svg#right-arrow"></use>
      </svg>
    </button>
    <div class="hero__slider swiper">
      <div class="hero__pag swiper-pagination"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero__item">
            <div class="hero__content">
              <div class="hero__trends">Trends Stock!</div>
              <h2 class="hero__title">SHORT TOP <span class="hero__title-text">KEEP YOU PRETTY</span></h2>
              <a class="hero__btn btn btn--fill btn-reset" href="#shop" data-scroll>SHOP NOW</a>
              <div class="hero__promo promo">
                <picture>
                  <source media="(min-width: 576px)" srcset="img/promo-image-1_2x.webp 2x" type="image/webp">
                  <source media="(max-width: 575px)" srcset="img/promo-image-1.webp" type="image/webp">
                  <source srcset="img/promo-image-1.webp" type="image/webp">
                  <img src="img/promo-image-1.png" srcset="img/promo-image-1_2x.png 2x" class="promo__image" width="92"
                    height="142" alt="Beautiful girl in a red dress">
                </picture>
                <div class="promo__content">
                  <h3 class="promo__subtitle">Solid Color
                    Sleeveless</h3>
                  <div class="promo__price">
                    <span class="promo__price-new">$100</span>
                    <span class="promo__price-old">$130</span>
                  </div>
                  <button class="promo__btn btn btn--fill btn-reset btn--shop" aria-label="Add to Cart">ADD TO
                    CART</button>
                </div>
              </div>
            </div>
            <picture>
              <source media="(min-width: 576px)" srcset="img/hero-image-1_2x.webp 2x" type="image/webp">
              <source media="(max-width: 575px)" srcset="img/hero-image-1.webp" type="image/webp">
              <source srcset="img/hero-image-1.webp" type="image/webp">
              <img src="img/hero-image-1.png" class="hero__image" width="685" height="650"
                alt="Happy girl after shopping">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__item">
            <div class="hero__content">
              <div class="hero__trends">Trends Stock!</div>
              <h2 class="hero__title">SHORT TOP <span class="hero__title-text">KEEP YOU PRETTY</span></h2>
              <a class="hero__btn btn btn--fill btn-reset" href="#shop" data-scroll>SHOP NOW</a>
              <div class="hero__promo promo">
                <picture>
                  <source media="(min-width: 576px)" srcset="img/promo-image-1_2x.webp 2x" type="image/webp">
                  <source media="(max-width: 575px)" srcset="img/promo-image-1.webp" type="image/webp">
                  <source srcset="img/promo-image-1.webp" type="image/webp">
                  <img src="img/promo-image-1.png" srcset="img/promo-image-1_2x.png 2x" class="promo__image" width="92"
                    height="142" alt="Beautiful girl in a red dress">
                </picture>
                <div class="promo__content">
                  <h3 class="promo__subtitle">Solid Color
                    Sleeveless</h3>
                  <div class="promo__price">
                    <span class="promo__price-new">$100</span>
                    <span class="promo__price-old">$130</span>
                  </div>
                  <button class="promo__btn btn btn--fill btn-reset btn--shop" aria-label="Add to Cart">ADD TO
                    CART</button>
                </div>
              </div>
            </div>
            <picture>
              <source media="(min-width: 576px)" srcset="img/hero-image-1_2x.webp 2x" type="image/webp">
              <source media="(max-width: 575px)" srcset="img/hero-image-1.webp" type="image/webp">
              <source srcset="img/hero-image-1.webp" type="image/webp">
              <img src="img/hero-image-1.png" class="hero__image" width="685" height="650"
                alt="Happy girl after shopping">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__item">
            <div class="hero__content">
              <div class="hero__trends">Trends Stock!</div>
              <h2 class="hero__title">SHORT TOP <span class="hero__title-text">KEEP YOU PRETTY</span></h2>
              <a class="hero__btn btn btn--fill btn-reset" href="#shop" data-scroll>SHOP NOW</a>
              <div class="hero__promo promo">
                <picture>
                  <source media="(min-width: 576px)" srcset="img/promo-image-1_2x.webp 2x" type="image/webp">
                  <source media="(max-width: 575px)" srcset="img/promo-image-1.webp" type="image/webp">
                  <source srcset="img/promo-image-1.webp" type="image/webp">
                  <img src="img/promo-image-1.png" srcset="img/promo-image-1_2x.png 2x" class="promo__image" width="92"
                    height="142" alt="Beautiful girl in a red dress">
                </picture>
                <div class="promo__content">
                  <h3 class="promo__subtitle">Solid Color Sleeveless</h3>
                  <div class="promo__price">
                    <span class="promo__price-new">$100</span>
                    <span class="promo__price-old">$130</span>
                  </div>
                  <button class="promo__btn btn btn--fill btn-reset btn--shop" aria-label="Add to Cart">ADD TO
                    CART</button>
                </div>
              </div>
            </div>
            <picture>
              <source media="(min-width: 576px)" srcset="img/hero-image-1_2x.webp 2x" type="image/webp">
              <source media="(max-width: 575px)" srcset="img/hero-image-1.webp" type="image/webp">
              <source srcset="img/hero-image-1.webp" type="image/webp">
              <img src="img/hero-image-1.png" class="hero__image" width="685" height="650"
                alt="Happy girl after shopping">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
