<section class="parthers section-offset">
  <div class="parthers__container container-fluid">
    <h2 class="parthers__title title">Out Trusted Branding Partners</h2>
    <p class="parthers__descr descr">There are many variations of passages of Lorem Ipsum available, but the majority
      have suffered alteration in some form, by injected humour.</p>
    <button class="parthers__prev slider-nav__btn btn-reset" aria-label="Previous slide">
      <svg>
        <use xlink:href="img/sprite.svg#left-arrow"></use>
      </svg>
    </button>
    <button class="parthers__next slider-nav__btn btn-reset" aria-label="Next slide">
      <svg>
        <use xlink:href="img/sprite.svg#right-arrow"></use>
      </svg>
    </button>
    <div class="parthers__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a class="pathers__link" href="#0" target="_blank" aria-label="Microwave company">
            <picture>
              <source srcset="img/parthers-1.webp" type="image/webp">
              <img loading="lazy" src="img/parthers-1.jpg" class="parthers__image" width="170" height="80"
                alt="Microwave logo">
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="pathers__link" href="#0" target="_blank" aria-label="Smile company">
            <picture>
              <source srcset="img/parthers-2.webp" type="image/webp">
              <img loading="lazy" src="img/parthers-2.jpg" class="parthers__image" width="170" height="80"
                alt="Smile logo">
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="parthers__link" href="#0" target="_blank" aria-label="Shine company">
            <picture>
              <source srcset="img/parthers-3.webp" type="image/webp">
              <img loading="lazy" src="img/parthers-3.jpg" class="parthers__image" width="170" height="80"
                alt="Shine logo">
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="parthers__link" href="#0" target="_blank" aria-label="Tagline company">
            <picture>
              <source srcset="img/parthers-4.webp" type="image/webp">
              <img loading="lazy" src="img/parthers-4.jpg" class="parthers__image" width="170" height="80"
                alt="Tagline logo">
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="parthers__link" href="#0" target="_blank" aria-label="Natural company">
            <picture>
              <source srcset="img/parthers-5.webp" type="image/webp">
              <img loading="lazy" src="img/parthers-5.jpg" class="parthers__image" width="170" height="80"
                alt="Natural logo">
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="parthers__link" href="#0" target="_blank" aria-label="Bakery company">
            <picture>
              <source srcset="img/parthers-6.webp" type="image/webp">
              <img loading="lazy" src="img/parthers-6.jpg" class="parthers__image" width="170" height="80"
                alt="Bakery logo">
            </picture>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
