<section class="parthers section-offset">
  <div class="parthers__container container-fluid">
    <h2 class="parthers__title title" data-aos="fade-right" data-aos-duration="1000">Out Trusted Branding Partners</h2>
    <p class="parthers__descr descr" data-aos="fade-left" data-aos-duration="1000">There are many variations of passages
      of Lorem Ipsum available, but the majority
      have suffered alteration in some form, by injected humour.</p>
    <button class="parthers__prev slider-nav slider-nav--btn btn-reset" aria-label="Previous slide">
      <svg>
        <use xlink:href="img/sprite.svg#left-arrow"></use>
      </svg>
    </button>
    <button class="parthers__next slider-nav slider-nav--btn btn-reset" aria-label="Next slide">
      <svg>
        <use xlink:href="img/sprite.svg#right-arrow"></use>
      </svg>
    </button>
    <div class="parthers__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a class="parthers__link" href="#0" target="_blank" aria-label="Microwave company">
            <picture>
              <source media="(min-width: 576px)" srcset="img/parthers-1_2x.webp 2x" type="image/webp">
              <source media="(max-width: 575px)" srcset="img/parthers-1.webp" type="image/webp">
              <source srcset="img/parthers-1.webp" type="image/webp">
              <img loading="lazy" src="img/parthers-1.jpg" srcset="img/parthers-1_2x.jpg 2x" class="parthers__image"
                width="170" height="80" alt="Microwave logo">
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="parthers__link" href="#0" target="_blank" aria-label="Smile company">
            <picture>
              <source media="(min-width: 576px)" srcset="img/parthers-2_2x.webp 2x" type="image/webp">
              <source media="(max-width: 575px)" srcset="img/parthers-2.webp" type="image/webp">
              <source srcset="img/parthers-2.webp" type="image/webp">
              <img loading="lazy" src="img/parthers-2.jpg" srcset="img/parthers-2_2x.jpg 2x" class="parthers__image"
                width="170" height="80" alt="Smile logo">
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="parthers__link" href="#0" target="_blank" aria-label="Shine company">
            <picture>
              <source media="(min-width: 576px)" srcset="img/parthers-3_2x.webp 2x" type="image/webp">
              <source media="(max-width: 575px)" srcset="img/parthers-3.webp" type="image/webp">
              <source srcset="img/parthers-3.webp" type="image/webp">
              <img loading="lazy" src="img/parthers-3.jpg" srcset="img/parthers-3_2x.jpg 2x" class="parthers__image"
                width="170" height="80" alt="Shine logo">
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="parthers__link" href="#0" target="_blank" aria-label="Tagline company">
            <picture>
              <source media="(min-width: 576px)" srcset="img/parthers-4_2x.webp 2x" type="image/webp">
              <source media="(max-width: 575px)" srcset="img/parthers-4.webp" type="image/webp">
              <source srcset="img/parthers-4.webp" type="image/webp">
              <img loading="lazy" src="img/parthers-4.jpg" srcset="img/parthers-4_2x.jpg 2x" class="parthers__image"
                width="170" height="80" alt="Tagline logo">
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="parthers__link" href="#0" target="_blank" aria-label="Natural company">
            <picture>
              <source media="(min-width: 576px)" srcset="img/parthers-5_2x.webp 2x" type="image/webp">
              <source media="(max-width: 575px)" srcset="img/parthers-5.webp" type="image/webp">
              <source srcset="img/parthers-5.webp" type="image/webp">
              <img loading="lazy" src="img/parthers-5.jpg" srcset="img/parthers-5_2x.jpg 2x" class="parthers__image"
                width="170" height="80" alt="Natural logo">
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="parthers__link" href="#0" target="_blank" aria-label="Bakery company">
            <picture>
              <source media="(min-width: 576px)" srcset="img/parthers-6_2x.webp 2x" type="image/webp">
              <source media="(max-width: 575px)" srcset="img/parthers-6.webp" type="image/webp">
              <source srcset="img/parthers-6.webp" type="image/webp">
              <img loading="lazy" src="img/parthers-6.jpg" srcset="img/parthers-6_2x.jpg 2x" class=" parthers__image"
                width="170" height="80" alt="Bakery logo">
            </picture>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
