<section class="product section-offset" id="product">
  <div class="product__container container-fluid">
    <h2 class="title" data-aos="fade-right" data-aos-duration="1000">Best Selling Products</h2>
    <p class="product__descr descr" data-aos="fade-left" data-aos-duration="1000">Lorem ipsum dolor sit amet,
      consectetur adipiscing elit,
      sed do eiusmod tempor
      incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <button class="product__prev slider-nav__btn btn-reset" aria-label="Previous slide">
      <svg>
        <use xlink:href="img/sprite.svg#left-arrow"></use>
      </svg>
    </button>
    <button class="product__next slider-nav__btn btn-reset" aria-label="Next slide">
      <svg>
        <use xlink:href="img/sprite.svg#right-arrow"></use>
      </svg>
    </button>
    <div class="product__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="product-item product-item--sale">
            <a class="product-item__link" href="#0">
              <picture>
                <source media="(min-width: 576px)" srcset="img/product-item-1_2x.webp 2x" type="image/webp">
                <source media="(max-width: 575px)" srcset="img/product-item-1.webp" type="image/webp">
                <source srcset="img/product-item-1.webp" type="image/webp">
                <img loading="lazy" src="img/product-item-1.jpg" srcset="img/product-item-1_2x.jpg 2x"
                  class="product-item__image" width="255" height="337" alt="White hoodie">
              </picture>
            </a>
            <div class="product-item__content">
              <h3 class="product-item__title">Woman Sweet Hoodie</h3>
              <span class="product-item__price">$250.00</span>
              <div class="product-item__wrapper">
                <button class="product-item__btn btn btn--light btn-reset btn--shop" aria-label="Add to bag">ADD TO
                  BAG</button>
              </div>
            </div>
            <div class="product-item__nav">
              <button class="product-item__nav-action btn btn-reset btn--favorites" aria-label="Add to Favorites">
                <svg>
                  <use xlink:href="img/sprite.svg#product-icon-love"></use>
                </svg>
              </button>
              <a class="product-item__nav-action btn" href="#0" aria-label="Go to product details">
                <svg>
                  <use xlink:href="img/sprite.svg#product-icon-link"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-item">
            <a class="product-item__link" href="#0">
              <picture>
                <source media="(min-width: 576px)" srcset="img/product-item-2_2x.webp 2x" type="image/webp">
                <source media="(max-width: 575px)" srcset="img/product-item-2.webp" type="image/webp">
                <source srcset="img/product-item-2.webp" type="image/webp">
                <img loading="lazy" src="img/product-item-2.jpg" srcset="img/product-item-2_2x.jpg 2x"
                  class="product-item__image" width="255" height="337" alt="Grey hoodie with pink bag">
              </picture>
            </a>
            <div class="product-item__content">
              <h3 class="product-item__title">Woman Summer Hoodie</h3>
              <span class="product-item__price">$150.00</span>
              <div class="product-item__wrapper">
                <button class="product-item__btn btn btn--light btn-reset btn--shop" aria-label="Add to bag">ADD TO
                  BAG</button>
              </div>
              <div class="product-item__nav">
                <button class="product-item__nav-action btn btn-reset btn--favorites" aria-label="Add to Favorites">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-love"></use>
                  </svg>
                </button>
                <a class="product-item__nav-action btn" href="#0" aria-label="Go to product details">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-link"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-item">
            <a class="product-item__link" href="#0">
              <picture>
                <source media="(min-width: 576px)" srcset="img/product-item-3_2x.webp 2x" type="image/webp">
                <source media="(max-width: 575px)" srcset="img/product-item-3.webp" type="image/webp">
                <source srcset="img/product-item-3.webp" type="image/webp">
                <img loading="lazy" src="img/product-item-3.jpg" srcset="img/product-item-3_2x.jpg 2x"
                  class="product-item__image" width="255" height="337" alt="Black hoodie">
              </picture>
            </a>
            <div class="product-item__content">
              <h3 class="product-item__title">Winter Plush Warm Cotton</h3>
              <span class="product-item__price">$370.00</span>
              <div class="product-item__wrapper">
                <button class="product-item__btn btn btn--light btn-reset btn--shop" aria-label="Add to bag">ADD TO
                  BAG</button>
              </div>
              <div class="product-item__nav">
                <button class="product-item__nav-action btn btn-reset btn--favorites" aria-label="Add to Favorites">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-love"></use>
                  </svg>
                </button>
                <a class="product-item__nav-action btn" href="#0" aria-label="Go to product details">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-link"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-item">
            <a class="product-item__link" href="#0">
              <picture>
                <source media="(min-width: 576px)" srcset="img/product-item-4_2x.webp 2x" type="image/webp">
                <source media="(max-width: 575px)" srcset="img/product-item-4.webp" type="image/webp">
                <source srcset="img/product-item-4.webp" type="image/webp">
                <img loading="lazy" src="img/product-item-4.jpg" srcset="img/product-item-4_2x.jpg 2x"
                  class="product-item__image" width="255" height="337" alt="Green plaid shirt">
              </picture>
            </a>
            <div class="product-item__content">
              <h3 class="product-item__title">Women Cotton Shirts</h3>
              <span class="product-item__price">$150.00</span>
              <div class="product-item__wrapper">
                <button class="product-item__btn btn btn--light btn-reset btn--shop" aria-label="Add to bag">ADD TO
                  BAG</button>
              </div>
              <div class="product-item__nav">
                <button class="product-item__nav-action btn btn-reset btn--favorites" aria-label="Add to Favorites">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-love"></use>
                  </svg>
                </button>
                <a class="product-item__nav-action btn" href="#0" aria-label="Go to product details">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-link"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-item product-item--sale">
            <a class="product-item__link" href="#0">
              <picture>
                <source media="(min-width: 576px)" srcset="img/product-item-3_2x.webp 2x" type="image/webp">
                <source media="(max-width: 575px)" srcset="img/product-item-3.webp" type="image/webp">
                <source srcset="img/product-item-3.webp" type="image/webp">
                <img loading="lazy" src="img/product-item-3.jpg" srcset="img/product-item-3_2x.jpg 2x"
                  class="product-item__image" width="255" height="337" alt="Black hoodie">
              </picture>
            </a>
            <div class="product-item__content">
              <h3 class="product-item__title">Woman Sweet Hoodie</h3>
              <span class="product-item__price">$370.00</span>
              <div class="product-item__wrapper">
                <button class="product-item__btn btn btn--light btn-reset btn--shop" aria-label="Add to bag">ADD TO
                  BAG</button>
              </div>
              <div class="product-item__nav">
                <button class="product-item__nav-action btn btn-reset btn--favorites" aria-label="Add to Favorites">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-love"></use>
                  </svg>
                </button>
                <a class="product-item__nav-action btn" href="#0" aria-label="Go to product details">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-link"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-item">
            <a class="product-item__link" href="#0">
              <picture>
                <source media="(min-width: 576px)" srcset="img/product-item-4_2x.webp 2x" type="image/webp">
                <source media="(max-width: 575px)" srcset="img/product-item-4.webp" type="image/webp">
                <source srcset="img/product-item-4.webp" type="image/webp">
                <img loading="lazy" src="img/product-item-4.jpg" srcset="img/product-item-4_2x.jpg 2x"
                  class="product-item__image" width="255" height="337" alt="Green plaid shirt">
              </picture>
            </a>
            <div class="product-item__content">
              <h3 class="product-item__title">Women Cotton Shirts</h3>
              <span class="product-item__price">$150.00</span>
              <div class="product-item__wrapper">
                <button class="product-item__btn btn btn--light btn-reset btn--shop" aria-label="Add to bag">ADD TO
                  BAG</button>
              </div>
              <div class="product-item__nav">
                <button class="product-item__nav-action btn btn-reset btn--favorites" aria-label="Add to Favorites">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-love"></use>
                  </svg>
                </button>
                <a class="product-item__nav-action btn" href="#0" aria-label="Go to product details">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-link"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
