<section class="product section-offset" id="product">
  <div class="product__container container-fluid">
    <h2 class="title">Best Selling Products</h2>
    <p class="product__descr descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <button class="product__prev slider-nav__btn btn-reset" aria-label="Previous slide">
      <svg>
        <use xlink:href="img/sprite.svg#left-arrow"></use>
      </svg>
    </button>
    <button class="product__next slider-nav__btn btn-reset" aria-label="Next slide">
      <svg>
        <use xlink:href="img/sprite.svg#right-arrow"></use>
      </svg>
    </button>
    <div class="product__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="product-item product-item--sale" tabindex="0">
            <picture>
              <source srcset="img/product-item-1.webp" type="image/webp">
              <img loading="lazy" src="img/product-item-1.jpg" class="product-item__image" width="255" height="337"
                alt="White hoodie">
            </picture>
            <div class="product-item__content">
              <h3 class="product-item__title">
                <a class="product-item__link" href="#0">Woman Sweet Hoodie</a>
              </h3>
              <span class="product-item__price">$250.00</span>
              <div class="product-item__wrapper">
                <button class="product-item__btn btn btn--light btn-reset" aria-label="Add to bag">ADD TO
                  BAG</button>
              </div>
            </div>
            <div class="product-item__btns">
              <button class="product-item__nav-btn btn btn-reset" aria-label="Add to Favorites">
                <svg>
                  <use xlink:href="img/sprite.svg#product-icon-love"></use>
                </svg>
              </button>
              <button class="product-item__nav-btn btn btn-reset" aria-label="Show link">
                <svg>
                  <use xlink:href="img/sprite.svg#product-icon-link"></use>
                </svg>
              </button>
              <button class="product-item__nav-btn btn btn-reset" aria-label="Zoom in">
                <svg>
                  <use xlink:href="img/sprite.svg#product-icon-zoom"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-item" tabindex="0">
            <picture>
              <source srcset="img/product-item-2.webp" type="image/webp">
              <img loading="lazy" src="img/product-item-2.jpg" class="product-item__image" width="255" height="337"
                alt="Grey hoodie with pink bag">
            </picture>
            <div class="product-item__content">
              <h3 class="product-item__title">
                <a class="product-item__link" href="#0">Woman Summer Hoodie</a>
              </h3>
              <span class="product-item__price">$150.00</span>
              <div class="product-item__wrapper">
                <button class="product-item__btn btn btn--light btn-reset" aria-label="Add to bag">ADD TO BAG</button>
              </div>
              <div class="product-item__btns">
                <button class="product-item__nav-btn btn btn-reset" aria-label="Add to Favorites">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-love"></use>
                  </svg>
                </button>
                <button class="product-item__nav-btn btn btn-reset" aria-label="Show link">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-link"></use>
                  </svg>
                </button>
                <button class="product-item__nav-btn btn btn-reset" aria-label="Zoom in">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-zoom"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-item" tabindex="0">
            <picture>
              <source srcset="img/product-item-3.webp" type="image/webp">
              <img loading="lazy" src="img/product-item-3.jpg" class="product-item__image" width="255" height="337"
                alt="Black hoodie">
            </picture>
            <div class="product-item__content">
              <h3 class="product-item__title">
                <a class="product-item__link" href="#0">Winter Plush Warm Cotton</a>
              </h3>
              <span class="product-item__price">$370.00</span>
              <div class="product-item__wrapper">
                <button class="product-item__btn btn btn--light btn-reset" aria-label="Add to bag">ADD TO BAG</button>
              </div>
              <div class="product-item__btns">
                <button class="product-item__nav-btn btn btn-reset" aria-label="Add to Favorites">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-love"></use>
                  </svg>
                </button>
                <button class="product-item__nav-btn btn btn-reset" aria-label="Show link">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-link"></use>
                  </svg>
                </button>
                <button class="product-item__nav-btn btn btn-reset" aria-label="Zoom in">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-zoom"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-item" tabindex="0">
            <picture>
              <source srcset="img/product-item-4.webp" type="image/webp">
              <img loading="lazy" src="img/product-item-4.jpg" class="product-item__image" width="255" height="337"
                alt="Green plaid shirt">
            </picture>
            <div class="product-item__content">
              <h3 class="product-item__title">
                <a class="product-item__link" href="#0">Women Cotton Shirts</a>
              </h3>
              <span class="product-item__price">$150.00</span>
              <div class="product-item__wrapper">
                <button class="product-item__btn btn btn--light btn-reset" aria-label="Add to bag">ADD TO BAG</button>
              </div>
              <div class="product-item__btns">
                <button class="product-item__nav-btn btn btn-reset" aria-label="Add to Favorites">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-love"></use>
                  </svg>
                </button>
                <button class="product-item__nav-btn btn btn-reset" aria-label="Show link">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-link"></use>
                  </svg>
                </button>
                <button class="product-item__nav-btn btn btn-reset" aria-label="Zoom in">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-zoom"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-item product-item--sale" tabindex="0">
            <picture>
              <source srcset="img/product-item-3.webp" type="image/webp">
              <img loading="lazy" src="img/product-item-3.jpg" class="product-item__image" width="255" height="337"
                alt="Black hoodie">
            </picture>
            <div class="product-item__content">
              <h3 class="product-item__title">
                <a class="product-item__link" href="#0"> Woman Sweet Hoodie</a>
              </h3>
              <span class="product-item__price">$370.00</span>
              <div class="product-item__wrapper">
                <button class="product-item__btn btn btn--light btn-reset" aria-label="Add to bag">ADD TO BAG</button>
              </div>
              <div class="product-item__btns">
                <button class="product-item__nav-btn btn btn-reset" aria-label="Add to Favorites">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-love"></use>
                  </svg>
                </button>
                <button class="product-item__nav-btn btn btn-reset" aria-label="Show link">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-link"></use>
                  </svg>
                </button>
                <button class="product-item__nav-btn btn btn-reset" aria-label="Zoom in">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-zoom"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-item" tabindex="0">
            <picture>
              <source srcset="img/product-item-2.webp" type="image/webp">
              <img loading="lazy" src="img/product-item-2.jpg" class="product-item__image" width="255" height="337"
                alt="Grey hoodie with pink bag">
            </picture>
            <div class="product-item__content">
              <h3 class="product-item__title">
                <a class="product-item__link" href="#0"> Woman Sweet Hoodie</a>
              </h3>
              <span class="product-item__price">$150.00</span>
              <div class="product-item__wrapper">
                <button class="product-item__btn btn btn--light btn-reset" aria-label="Add to bag">ADD TO BAG</button>
              </div>
              <div class="product-item__btns">
                <button class="product-item__nav-btn btn btn-reset" aria-label="Add to Favorites">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-love"></use>
                  </svg>
                </button>
                <button class="product-item__nav-btn btn btn-reset" aria-label="Show link">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-link"></use>
                  </svg>
                </button>
                <button class="product-item__nav-btn btn btn-reset" aria-label="Zoom in">
                  <svg>
                    <use xlink:href="img/sprite.svg#product-icon-zoom"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
