<section class="product section-offset">
  <div class="container">
    <h2 class="title">Best Selling Products</h2>
    <p class="product__descr descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <div class="product__items">
      <div class="product__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="product-item product-item--sale">
              <picture>
                <source srcset="img/product-item-1.webp" type="image/webp">
                <img loading="lazy" src="img/product-item-1.jpg" class="product-item__image" width="255" height="337"
                  alt="White hoodie">
              </picture>
              <div class="product-item__content">
                <h3 class="product-item__title">Woman Sweet Hoodie</h3>
                <span class="product-item__price">$250.00</span>
                <div class="product-item__wrapper">
                  <button class="product-item__btn btn btn--light btn-reset">ADD TO BAG</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
