<section class="reviews section-offset">
  <div class="reviews__container container">
    <h2 class="reviews__title title" data-aos="fade-right" data-aos-duration="1000">What Say Our Regular Customer</h2>
    <p class="reviews__descr descr" data-aos="fade-left" data-aos-duration="1000">There are many variations of passages
      of Lorem Ipsum available, but the majority
      have
      suffered alteration in some form, by injected humour</p>
    <div class="reviews__slider swiper">
      <button class="reviews__prev reviews__btn slider-nav slider-nav--btn btn-reset" aria-label="Previous slide">
        <svg>
          <use xlink:href="img/sprite.svg#left-arrow"></use>
        </svg>
      </button>
      <button class="reviews__next reviews__btn slider-nav slider-nav--btn btn-reset" aria-label="Next slide">
        <svg>
          <use xlink:href="img/sprite.svg#right-arrow"></use>
        </svg>
      </button>
      <div class="reviews__pag swiper-pagination"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="reviews__item">
            <p class="reviews__text">There are many variations of passages of Lorem Ipsum available, but the majority
              have suffered alteration in some form, by injected humour, or randomised words which don't look even
              slightly believable.</p>
            <picture>
              <source srcset="img/reviews-author-1.webp" type="image/webp">
              <img loading="lazy" src="img/reviews-author-1.png" class="reviews__image" width="50" height="50"
                alt="Wade Warren">
            </picture>
            <span class="reviews__author">Wade Warren</span>
            <span class="reviews__position">UI designer</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__item">
            <p class="reviews__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi in nostrum facilis
              quis quidem, vitae repudiandae nisi nihil voluptatem labore deserunt laborum laboriosam odit assumenda
              nesciunt fugit perferendis pariatur cupiditate consequuntur. Ex illo assumenda quos provident optio
              necessitatibus soluta ducimus.</p>
            <picture>
              <source srcset="img/reviews-author-1.webp" type="image/webp">
              <img loading="lazy" src="img/reviews-author-1.png" class="reviews__image" width="50" height="50"
                alt="Wade Warren">
            </picture>
            <span class="reviews__author">Wade Warren</span>
            <span class="reviews__position">UI designer</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__item">
            <p class="reviews__text">There are many variations of passages of Lorem Ipsum available, but the majority
              have suffered alteration in some form, by injected humour, or randomised words which don't look even
              slightly believable.</p>
            <picture>
              <source srcset="img/reviews-author-1.webp" type="image/webp">
              <img loading="lazy" src="img/reviews-author-1.png" class="reviews__image" width="50" height="50"
                alt="Wade Warren">
            </picture>
            <span class="reviews__author">Wade Warren</span>
            <span class="reviews__position">UI designer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
