<section class="sale section-offset" id="sale">
  <div class="container grid">
    <div class="sale__gift sale-timer">
      <h2 class="sale-timer__title">GIFT VOUCHER</h2>
      <div class="sale-timer__content">
        <div class="sale-timer__item sale-timer__day">
          <span class="sale-timer__value">00</span>
          <div class="sale-timer__text">DAY</div>
        </div>
        <div class="sale-timer__item sale-timer__hrs">
          <span class="sale-timer__value">00</span>
          <div class="sale-timer__text">HRS</div>
        </div>
        <div class="sale-timer__item sale-timer__mins">
          <span class="sale-timer__value">00</span>
          <div class="sale-timer__text">MINS</div>
        </div>
        <div class="sale-timer__item sale-timer__secs">
          <span class="sale-timer__value">00</span>
          <div class="sale-timer__text">SECS</div>
        </div>
      </div>
      <button class="sale-timer__btn btn btn-reset" aria-label="Copy promo code" data-clipboard-text="QSFR12">
        QSFR12
        <svg aria-hidden="true">
          <use xlink:href="img/sprite.svg#sale-copy-icon"></use>
        </svg>
      </button>
    </div>
    <div class="sale__slider swiper">
      <button class="sale__prev slider-nav__btn btn-reset" aria-label="Previous slide">
        <svg>
          <use xlink:href="img/sprite.svg#left-arrow"></use>
        </svg>
      </button>
      <button class="sale__next slider-nav__btn btn-reset" aria-label="Next slide">
        <svg>
          <use xlink:href="img/sprite.svg#right-arrow"></use>
        </svg>
      </button>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="sale__product sale-item">
            <a class="sale-item__wrapper" href="#0">
              <picture>
                <source srcset="img/sale-item-1.webp" type="image/webp">
                <img loading="lazy" src="img/sale-item-1.jpg" class="sale-item__image" width="313" height="337"
                  alt="Ladies Hair Bands">
              </picture>
            </a>
            <div class="sale-item__content">
              <h3 class="sale-item__subtitle">
                <a class="sale-item__link" href="#0">Ladies Hair Bands</a>
              </h3>
              <div class="sale-item__price">$150.00</div>
              <div class="sale-item__star star" data-selected-rating="3">
                <div class="star__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="star__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="star__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="star__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="star__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="sale__product sale-item">
            <a class="sale-item__wrapper" href="#0">
              <picture>
                <source srcset="img/sale-item-1.webp" type="image/webp">
                <img loading="lazy" src="img/sale-item-1.jpg" class="sale-item__image" width="313" height="337"
                  alt="Ladies Hair Bands">
              </picture>
            </a>
            <div class="sale-item__content">
              <h3 class="sale-item__subtitle">
                <a class="sale-item__link" href="#0">Ladies Hair Bands</a>
              </h3>
              <div class="sale-item__price">$150.00</div>
              <div class="sale-item__star star" data-selected-rating="4">
                <div class="star__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="star__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="star__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="star__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="star__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
