<section class="shop section-offset" id="shop">
  <div class="container">
    <h2 class="visually-hidden">Our Shop</h2>
    <ul class="shop__list list-reset grid">
      <li class="shop__item shop__item--promo" style="background-image: url(img/shop-item-1.jpg);"
        title="New Woman Collection">
        <div class="shop__content">
          <span class="shop__sale shop__sale--promo">Get Extra 50% Off</span>
          <h3 class="shop__subtitle">New Woman Collection</h3>
          <span class="shop__promo">Special Promo</span>
          <a class="shop__link btn btn-reset btn--light" href="#0">Find Collection</a>
        </div>
      </li>
      <li class="shop__item shop__item--bags" style="background-image: url(img/shop-item-2.jpg);"
        title="Woman Bags Collection">
        <div class="shop__content">
          <span class="shop__sale">70% Off On</span>
          <h3 class="shop__subtitle">Woman Bags Collection</h3>
          <a class="shop__link btn btn-reset btn--light" href="#0">Shop Now</a>
        </div>
      </li>
      <li class="shop__item shop__item--mackup" style="background-image: url(img/shop-item-3.jpg);"
        title="Woman Mackup">
        <div class="shop__content">
          <span class="shop__sale">70% Off On</span>
          <h3 class="shop__subtitle">Woman Mackup</h3>
          <a class="shop__link btn btn-reset btn--light" href="#0">Shop Now</a>
        </div>
      </li>
      <li class="shop__item shop__item--watch" style="background-image: url(img/shop-item-4.jpg);"
        title="Woman Watch Collection">
        <div class="shop__content">
          <span class="shop__sale">30-60% Off On</span>
          <h3 class="shop__subtitle">Woman Watch Collection</h3>
          <a class="shop__link btn btn-reset btn--light" href="#0">Shop Now</a>
        </div>
      </li>
    </ul>
  </div>
</section>
