<section class="social section-offset">
  <div class="container">
    <h2 class="social__title title" data-aos="fade-up" data-aos-duration="1000">
      <a class="social__link" href="#0" target="_blank">Follow us in instagram @graphic_raz</a>
    </h2>
  </div>
  <ul class="social__list list-reset">
    <li class="social__item">
      <a class="social__item-link" href="#0" target="_blank">
        <picture>
          <source media="(min-width: 576px)" srcset="img/social-1_2x.webp 2x" type="image/webp">
          <source media="(max-width: 575px)" srcset="img/social-1.webp" type="image/webp">
          <source srcset="img/social-1.webp" type="image/webp">
          <img loading="lazy" src="img/social-1.jpg" srcset="img/social-1_2x.jpg 2x" class="social__item-image"
            width="360" height="360" alt="A girl wearing a striped sweater">
        </picture>
      </a>
    </li>
    <li class="social__item">
      <a class="social__item-link" href="#0" target="_blank">
        <picture>
          <source media="(min-width: 576px)" srcset="img/social-2_2x.webp 2x" type="image/webp">
          <source media="(max-width: 575px)" srcset="img/social-2.webp" type="image/webp">
          <source srcset="img/social-2.webp" type="image/webp">
          <img loading="lazy" src="img/social-2.jpg" srcset="img/social-2_2x.jpg 2x" class="social__item-image"
            width="360" height="360" alt="Two girls dancing in the water">
        </picture>
      </a>
    </li>
    <li class="social__item">
      <a class="social__item-link" href="#0" target="_blank">
        <picture>
          <source media="(min-width: 576px)" srcset="img/social-3_2x.webp 2x" type="image/webp">
          <source media="(max-width: 575px)" srcset="img/social-3.webp" type="image/webp">
          <source srcset="img/social-3.webp" type="image/webp">
          <img loading="lazy" src="img/social-3.jpg" srcset="img/social-3_2x.jpg 2x" class="social__item-image"
            width="360" height="360" alt="Fashionable girl with glasses sits on the stairs">
        </picture>
      </a>
    </li>
    <li class="social__item">
      <a class="social__item-link" href="#0" target="_blank">
        <picture>
          <source media="(min-width: 576px)" srcset="img/social-4_2x.webp 2x" type="image/webp">
          <source media="(max-width: 575px)" srcset="img/social-4.webp" type="image/webp">
          <source srcset="img/social-4.webp" type="image/webp">
          <img loading="lazy" src="img/social-4.jpg" srcset="img/social-4_2x.jpg 2x" class="social__item-image"
            width="360" height="360" alt="A girl poses in front of most decorative objects">
        </picture>
      </a>
    </li>
  </ul>
</section>
