// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Jost", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --content-fluid-width: 1170px;
  --container-fluid-offset: 90px;
  --container-fluid-width: calc(
    var(--content-fluid-width) + (var(--container-fluid-offset) * 2)
  );

  // colors
  --light-color: #ffffff;
  --black-color: #333333;
  --accent-color: #023047;
  --alizarin-crimson-color: #e92121;
  --dove-gray-color: #666666;
  --wildsand-color: #f5f5f5;
  --silver-color: #cccccc;
  --mercury-color: #e5e5e5;
}
